@use 'variables' as v;

@mixin splash() {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    img {
        height: 70vh;
        padding-right: 200px
    }
    
    // background
}

@mixin centro() {
    height: 40vh;
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: v.$branco;
    
    .centro-txt {
        display: block;
        width: 40vw;
        color: v.$azul-escuro;
    }


    img {
        width: 20%;   
    }

    p {
        @include v.normal-1;
    }
}

@mixin metade($reverse: false) {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    width: 100%;
    background-color: v.$bege;
    
    @if $reverse {
        flex-flow: row-reverse nowrap;
    }

    .metade-txt {
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 10vw;
        padding-right: 10vw;
        width: 50%;
        box-sizing: border-box;

        h1 {
            @include v.titulo-1;
        }

        p {
            @include v.normal-1;
        }
    }

    .metade-img {
        // BACKGROUND IMAGE
        width: 50%;
    }
}

.centro {
    @include centro;
}

.splash {
    @include splash;
}

.metade {
    @include metade;
}
.metade-reverse {
    @include metade(true);
}